<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sign in</title>
  <link rel="stylesheet" href="../static/login.css">

</head>
<body>
    <section class="section-1">
        <form action="" class="login">
            <label for="username">Instructor Username</label>
            <input type="text" id="username">
            <label for="password">Instructor Password</label>
            <input type="password" id="password">
            <p>Want to be an instructor? <a href="./register.html">sign up!</a>
            </p>
        </form>

    </section>
   
</body>
</html>